- name: Init Kubernetes
  command: kubeadm init --pod-network-cidr=10.244.0.0/16
  args:
    creates: /etc/kubernetes/admin.conf

- name: Setup kubeconfig
  command: |
    mkdir -p /home/ubuntu/.kube
    cp /etc/kubernetes/admin.conf /home/ubuntu/.kube/config
    chown ubuntu:ubuntu /home/ubuntu/.kube/config

- name: Install Flannel
  become_user: ubuntu
  command: kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml

- name: Get join command
  command: kubeadm token create --print-join-command
  register: join_cmd

- name: Save join command
  copy:
    content: "{{ join_cmd.stdout }}"
    dest: /tmp/kube_join.sh
    mode: '0755'
